build
out
.vs
CMakeSettings.json

# C#
*bin/
*obj/
Testing
build_win
geompp_csharp/GeomPP/
geompp_csharp/GeomPP_Net48/
geompp_csharp/x64/
nupkgs

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
venv/
.venv/
dist/
wheelhouse/
*.egg-info/
